* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* HEADER */
.header {
    background: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
}

.header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

/* HERO */
.hero {
    background: #444;
    color: white;
    padding: 80px 40px;
}

.hero-text {
    max-width: 500px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #0077ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* ABOUT */
.about {
    display: flex;
    align-items: center;
    padding: 60px 40px;
    gap: 40px;
}

.about img {
    width: 250px;
    border-radius: 10px;
}

/* SKILLS */
.skills {
    background: #f4f4f4;
    padding: 50px;
    text-align: center;
}

.skill-box span {
    display: inline-block;
    background: white;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
}

/* PROJECTS */
.projects {
    padding: 50px;
    text-align: center;
}

.project-card {
    background: #f4f4f4;
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
}

/* CONTACT */
.contact {
    background: #222;
    color: white;
    text-align: center;
    padding: 40px;
}

/* FOOTER */
.footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}

